<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}EnergySpy{% endblock %}

{% block content %}

{% load static %}
<img src="{% static 'webenergyspy/media/logo_energyspy.png' %}"/>
<h1 class="h3 mb-3 font-weight-normal">EnergySpy</h1>

{% if user.is_authenticated %}
  <p><b>Usuário:</b> {{ user.username }}</p>
  {% if cliente %}
      <p><b>Cliente:</b> {{ cliente.nome }}</p>
      <p><b>Endereço:</b> {{ cliente.endereco }}</p>
   {% endif %}
   {% if ult_leitura %}
   
     <p><b>Última Leitura:</b></p>
     <table>
      <th>Tensão</th>
      <th>Potência</th>
      <th>Corrente</th>
      <tr>
         <td>{{ ult_leitura.tensao }}</td>
         <td>{{ ult_leitura.potencia }}</td>
         <td>{{ ult_leitura.corrente }}</td>
      </tr>
     </table>
  {% endif %}
  {% if nao_cliente %}
     <p><b>Não é cadastrado como cliente</b></p>
  {% endif %}
  {% if sem_leitura %}
     <p><b>Ainda não possui nenhuma leitura. Já instalou seu equipamento?</b></p>
  {% endif %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>Você precisa efetuar o login</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
